@import "bootstrap-sprockets";
@import "bootstrap";

.sidebar {
    padding-left: 0;
    padding-right: 0;
}
.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    border-right: 1px solid #eee;
}

#email {
  padding: 10px 20px 20px 20px;
}

h1 {
    margin-bottom: 20px;
    padding-bottom: 9px;
    border-bottom: 1px solid #eee;
}